*.native
*.byte
*.annot
*.opt
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.out
.\#*
\#*\#
*.omc
*omakedb*
src/shell/omake_shell_parse.ml
src/shell/omake_shell_parse.mli

src/libmojave/lm_filename_util.ml
src/libmojave/lm_hash.ml
src/libmojave/lm_lexer.ml
src/libmojave/lm_location.ml
src/libmojave/lm_map.ml
src/libmojave/lm_parser.ml
src/libmojave/lm_position.ml
src/libmojave/lm_set.ml
src/libmojave/lm_symbol.ml
omake-boot
.config
boot/
src/clib/fam_inotify.c
src/clib/fam_kqueue.c
src/clib/fam_pseudo.h
src/clib/fam_win32.c
src/clib/inotify-syscalls.h
src/clib/inotify.h
src/clib/inotify.om
src/clib/lm_channel.c
src/clib/lm_compat_win32.c
src/clib/lm_compat_win32.h
src/clib/lm_ctype.c
src/clib/lm_fs_case_sensitive.c
src/clib/lm_heap.c
src/clib/lm_heap.h
src/clib/lm_notify.c
src/clib/lm_printf.c
src/clib/lm_terminfo.c
src/clib/lm_termsize.c
src/clib/lm_uname_ext.c
src/clib/lm_unix_cutil.c
src/clib/unixsupport.h
src/env/omake_ast_lex.ml
src/env/omake_ast_parse.ml
src/env/omake_ast_parse.mli
src/env/omake_ast_parse.mly
src/env/omake_exp_parse.ml
src/env/omake_exp_parse.mli
src/env/omake_gen_parse
src/shell/omake_shell_sys.ml