*.native
*.byte
*.annot
*.opt
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.out
*.install
*.default
*.i.mli
*.magic
.\#*
\#*\#
*.omc
*omakedb*
src/shell/omake_shell_parse.ml
src/shell/omake_shell_parse.mli

omake-boot
.config
boot/

src/env/omake_ast_lex.ml
src/env/omake_ast_parse.ml
src/env/omake_ast_parse.mli
src/env/omake_ast_parse.mly
src/env/omake_exp_parse.ml
src/env/omake_exp_parse.mli
src/env/omake_gen_parse
src/shell/omake_shell_sys.ml
src/magic/omake_gen_magic
src/magic/omake_magic.ml
src/main/cvs_realclean
src/main/omake
src/main/osh
src/util/ocaml_patch.ml
tmp/
*.tmp
*.run
omakerun
omaketop
omakeutop
Makefile.tmp1
Makefile.tmp3
