*.native
*.byte
*.annot
*.opt
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.out
*.install
*.default
*.magic
.\#*
\#*\#
*.omc
*omakedb*
src/shell/omake_shell_parse.ml
src/shell/omake_shell_parse.mli

src/libmojave/lm_filename_util.ml
src/libmojave/lm_hash.ml
src/libmojave/lm_lexer.ml
src/libmojave/lm_location.ml
src/libmojave/lm_map.ml
src/libmojave/lm_parser.ml
src/libmojave/lm_position.ml
src/libmojave/lm_set.ml
src/libmojave/lm_symbol.ml
omake-boot
.config
boot/
src/clib/fam_inotify.c
src/clib/fam_kqueue.c
src/clib/fam_pseudo.h
src/clib/fam_win32.c
src/clib/inotify-syscalls.h
src/clib/inotify.h
src/clib/inotify.om
src/clib/lm_channel.c
src/clib/lm_compat_win32.c
src/clib/lm_compat_win32.h
src/clib/lm_ctype.c
src/clib/lm_fs_case_sensitive.c
src/clib/lm_heap.c
src/clib/lm_heap.h
src/clib/lm_notify.c
src/clib/lm_printf.c
src/clib/lm_terminfo.c
src/clib/lm_termsize.c
src/clib/lm_uname_ext.c
src/clib/lm_unix_cutil.c
src/clib/unixsupport.h
src/env/omake_ast_lex.ml
src/env/omake_ast_parse.ml
src/env/omake_ast_parse.mli
src/env/omake_ast_parse.mly
src/env/omake_exp_parse.ml
src/env/omake_exp_parse.mli
src/env/omake_gen_parse
src/shell/omake_shell_sys.ml
src/libmojave/lm_arg.ml
src/libmojave/lm_arg.mli
src/libmojave/lm_array_util.ml
src/libmojave/lm_array_util.mli
src/libmojave/lm_channel.ml
src/libmojave/lm_channel.mli
src/libmojave/lm_db.ml
src/libmojave/lm_db.mli
src/libmojave/lm_debug.ml
src/libmojave/lm_debug.mli
src/libmojave/lm_filename_util.mli
src/libmojave/lm_fs_case_sensitive.ml
src/libmojave/lm_fs_case_sensitive.mli
src/libmojave/lm_glob.ml
src/libmojave/lm_glob.mli
src/libmojave/lm_hash.mli
src/libmojave/lm_hash_sig.ml
src/libmojave/lm_heap.ml
src/libmojave/lm_index.ml
src/libmojave/lm_index.mli
src/libmojave/lm_int_set.ml
src/libmojave/lm_int_set.mli
src/libmojave/lm_lexer.mli
src/libmojave/lm_list_util.ml
src/libmojave/lm_list_util.mli
src/libmojave/lm_location.mli
src/libmojave/lm_map.mli
src/libmojave/lm_map_sig.ml
src/libmojave/lm_notify.ml
src/libmojave/lm_notify.mli
src/libmojave/lm_parser.mli
src/libmojave/lm_position.mli
src/libmojave/lm_printf.ml
src/libmojave/lm_printf.mli
src/libmojave/lm_set.mli
src/libmojave/lm_set_sig.ml
src/libmojave/lm_string_set.ml
src/libmojave/lm_string_set.mli
src/libmojave/lm_string_util.ml
src/libmojave/lm_string_util.mli
src/libmojave/lm_symbol.mli
src/libmojave/lm_terminfo.ml
src/libmojave/lm_terminfo.mli
src/libmojave/lm_termsize.ml
src/libmojave/lm_termsize.mli
src/libmojave/lm_thread.ml
src/libmojave/lm_thread.mli
src/libmojave/lm_thread_core.ml
src/libmojave/lm_thread_core.mli
src/libmojave/lm_thread_pool.ml
src/libmojave/lm_thread_pool.mli
src/libmojave/lm_thread_sig.ml
src/libmojave/lm_uname.ml
src/libmojave/lm_uname.mli
src/libmojave/lm_unix_util.ml
src/libmojave/lm_unix_util.mli
src/magic/omake_gen_magic
src/magic/omake_magic.ml
src/main/cvs_realclean
src/main/omake
src/main/osh
src/util/ocaml_patch.ml
tmp/
*.tmp
omakerun
omaketop