.c000{border-spacing:6px;border-collapse:separate;}
.c001{font-family:monospace}
.c002{font-family:monospace;font-weight:bold}
.c003{font-style:italic}
.c004{font-weight:bold}
.c005{text-align:center;white-space:nowrap}
.c006{text-align:left;white-space:nowrap}
.c007{text-align:right;white-space:nowrap}
.c008{vertical-align:top;text-align:left;}
.li-itemize{margin:1ex 0ex;}
.li-enumerate{margin:1ex 0ex;}
.dd-description{margin:0ex 0ex 1ex 4ex;}
.dt-description{margin:0ex;}
.toc{list-style:none;}
div.footnotetext P{margin:0px; text-indent:1em;}
.title{margin:2ex auto;text-align:center}
.titlemain{margin:1ex 2ex 2ex 1ex;}
.titlerest{margin:0ex 2ex;}
.center{text-align:center;margin-left:auto;margin-right:auto;}
div table{margin-left:inherit;margin-right:inherit;margin-bottom:2px;margin-top:2px}
td table{margin:auto;}
table{border-collapse:collapse;}
td{padding:0;}
pre{text-align:left;margin-left:0ex;margin-right:auto;}
blockquote{margin-left:4ex;margin-right:4ex;text-align:left;}
td p{margin:0px;}
.hbar{border:none;height:2px;width:100%;background-color:black;}
.verbatim{margin-left:3ex; background:#ddeeff;}
CODE{padding-left:0.2ex; padding-right:0.2ex; background:#eef7ff;}
